@charset "UTF-8";
/* ─── BASE ──────────────────────────────────────────────── */
body {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1em;
}

section {
  padding: 50px 0;
}

h1.section-title {
  padding: 10px 0;
  position: relative;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 5em;
  font-weight: bold;
}

h1.section-title::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  width: 200px;
  height: 4px;
  border-radius: 50px;
  background: -webkit-gradient(linear, right top, left top, from(#FF9163), to(#FF7171));
  background: linear-gradient(to left, #FF9163, #FF7171);
}

a.btn {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 2px;
  padding: 7px 20px;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid white;
  border-radius: 50px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

a.btn:hover {
  background-color: #dddddd;
  border: 2px solid #dddddd;
}

a.btn-orange {
  background: -webkit-gradient(linear, right top, left top, from(#FF9163), to(#FF7171));
  background: linear-gradient(to left, #FF9163, #FF7171);
  border: none;
  color: white;
}

a.btn-blue {
  background: -webkit-gradient(linear, right top, left top, from(#227093), to(#9743D9));
  background: linear-gradient(to left, #227093, #9743D9);
  border: none;
  color: white;
}

a.btn-orange:hover,
a.btn-blue:hover {
  border: none;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

button.btn-submit {
  cursor: pointer;
  outline: none;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 2px;
  padding: 7px 20px;
  color: black;
  background-color: white;
  border: 2px solid white;
  border-radius: 50px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

button.btn-orange {
  background: -webkit-gradient(linear, right top, left top, from(#FF9163), to(#FF7171));
  background: linear-gradient(to left, #FF9163, #FF7171);
  border: none;
  color: white;
}

button.btn-blue {
  background: -webkit-gradient(linear, right top, left top, from(#227093), to(#9743D9));
  background: linear-gradient(to left, #227093, #9743D9);
  border: none;
  color: white;
}

button.btn-orange:hover,
button.btn-blue:hover {
  border: none;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

form {
  padding: 20px 0;
  width: 100%;
}

.champ {
  padding: 15px 0;
}

label {
  display: block;
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  margin-bottom: 10px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=file],
input[type=tel],
textarea {
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 100px;
  padding: 5px 15px;
  font-size: 1.3em;
  font-family: "Kanit", sans-serif;
  color: #505050;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  width: 80%;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=file]:focus,
input[type=tel]:focus,
textarea:focus {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input::-webkit-input-placeholder {
  opacity: .5;
}

input:-ms-input-placeholder {
  opacity: .5;
}

input::-ms-input-placeholder {
  opacity: .5;
}

input::placeholder {
  opacity: .5;
}

#inscription form,
#connexion form {
  text-align: center;
}

.user-card {
  cursor: default;
  pointer-events: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  padding-left: 20px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 100px;
  float: right;
}

.user-card p {
  background: -webkit-gradient(linear, right top, left top, from(#FF9163), to(#FF7171));
  background: linear-gradient(to left, #FF9163, #FF7171);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2em;
  font-weight: 200;
}

.user-card span {
  display: block;
  font-size: 1.2em;
  font-weight: 500;
}

.user-card .avatar {
  width: 75px;
  margin-left: 25px;
  border-radius: 50%;
}
