@charset "UTF-8";
/* ─── FOOTER ───────────────────────────────────────── */
#l-footer {
  position: relative;
  z-index: 1;
  padding: 15px 0;
  background: -webkit-gradient(linear, right top, left top, from(#FF9163), to(#FF7171));
  background: linear-gradient(to left, #FF9163, #FF7171);
}

#l-footer p {
  text-align: center;
  color: white;
  font-weight: 200;
}
