@charset "UTF-8";
/* ─── RESPONSIVE ───────────────────────────────────────── */
@media screen and (max-width: 1000px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 15px;
  }
  .left,
  .right {
    width: 100%;
    text-align: center;
  }
  .left,
  .right {
    padding-left: 0;
    padding-right: 0;
  }
  .right {
    margin-bottom: 50px;
  }
  .illustration,
  .form {
    width: 100% !important;
  }
  .illustration {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  ul.nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  nav .right-links ul img {
    width: 50px;
  }
  nav .right-links ul li {
    margin: 0 10px;
  }
  a.btn {
    font-size: 1em;
  }
  ul.nav-links {
    height: calc(100vh - 90px);
    -webkit-transform: translate3d(-100%, 90px, 0);
            transform: translate3d(-100%, 90px, 0);
  }
  ul.nav-links.is-active {
    -webkit-transform: translate3d(0, 90px, 0);
            transform: translate3d(0, 90px, 0);
  }
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=date],
  input[type=file],
  input[type=tel],
  textarea {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  ul.nav-links {
    width: 100%;
    border-radius: 0;
  }
  .user-card {
    float: none;
    margin: 25px auto 0 auto;
  }
}

@media screen and (max-width: 450px) {
  nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .right-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  nav .right-links ul li {
    margin: 15px 0;
  }
  .user-card {
    width: 100%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .flex {
    padding: 15px 0;
  }
}

@media screen and (max-width: 300px) {
  h1.section-title {
    font-size: 8vh;
  }
}
