/* ─── FOOTER ───────────────────────────────────────── */
@import 'variables';
@import 'mixins';

#l-footer {
    position: relative;
    z-index: 1;
    padding: 15px 0;
    @include primary-gradient;
}
#l-footer p {
    text-align: center;
    color: white;
    font-weight: 200;
}