/* ─── HOME ──────────────────────────────────────────────── */
@import 'variables';
@import 'mixins';

.flex {
    padding: 50px 0;
    @include flex(space-between, center);
}
.left,
.right {
    width: 50%;
    height: 378px;
}
.left {
    padding-right: 30px;
    position: relative;
}
.right {
    padding-left: 30px;
    height: 100%;
}
.right h2 {
    padding: 30px 0;
    font-size: 2em;
    font-weight: 600;
}
.right p {
    line-height: 1.5em;
    color: #505050;
    margin-bottom: 20px;
}
.particulier {
    padding-bottom: 20px;
}
.card3 {
    width: 100%;
    // left: -50% !important;
    // top: 0% !important;
    // margin-top: 35%;
}
.man3 {
    width: 100%;
    // left: -50% !important;
    // top: 60% !important;
}
#home #scene {
    width: 100%;
    top: 50%;
}