@mixin wrap($wrapSize) {
    width: 100%;
    max-width: $wrapSize;
    margin: 0 auto;
    padding: 0 1em;
}
@mixin primary-gradient {
    background: -webkit-gradient(linear, right top, left top, from($orange), to($rose));
    background: -o-linear-gradient(right, $orange, $rose);
    background: linear-gradient(to left, $orange, $rose);
}
@mixin secondary-gradient {
    background: -webkit-gradient(linear, right top, left top, from($bleu), to($violet));
    background: -o-linear-gradient(right, $bleu, $violet);
    background: linear-gradient(to left, $bleu, $violet);
}
@mixin flex($justifyValue, $alignValue) {
    display: flex;
    justify-content: $justifyValue;
    align-items: $alignValue;
}