/* ─── SIGNUP ──────────────────────────────────────────────── */
@import 'variables';
@import 'mixins';

.card2 {
    width: 500px;
}
.man2 {
    left: 55% !important;
    top: 50% !important;
}
.forgot {
    margin: 10px 0;
    display: block;
}