/* ─────────────────────────────────────────────────────────
/* ------------------ C S S   S T A R T --------------------
/* ───────────────────────────────────────────────────────── */

/* ─── IMPORTATION ───────────────────────────────────────── */
@import url("reset.css");

/* ─── VARIABLE ──────────────────────────────────────────── */
$color: red;
$color2: blue;

/* ─── BASE ──────────────────────────────────────────────── */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ─── LAYOUT ────────────────────────────────────────────── */

/* ─── MODULE ────────────────────────────────────────────── */
#loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 999;
}
#loader img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* ─── STATE ─────────────────────────────────────────────── */

/* ─── RESPONSIVE ────────────────────────────────────────── */
@media screen and (max-width: 375px) {

}

/* ─────────────────────────────────────────────────────────
/* ------------------- C S S   E N D -----------------------
/* ───────────────────────────────────────────────────────── */